@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
@layer components {
    nav {
    @apply p-4 max-w-screen-lg mx-auto flex items-center justify-between bg-slate-800;
    }
    
    
    .round-btn {
    @apply w-8 h-8 overflow-hidden rounded-full bg-slate-200 text-slate-700 focus:outline-none focus:ring-1 focus:ring-slate-300 focus:ring-offset-2 focus:ring-offset-slate-700;
    }
    
    
    .nav-link {
    @apply text-slate-200 hover:bg-slate-700/40 active:bg-slate-700 px-3 py-1 rounded-lg;
    }
    
    
    .title {
    @apply text-3xl mb-4 font-bold text-slate-800;
    }
    
    
    .btn {
    @apply relative enabled:bg-slate-700 enabled:hover:bg-slate-600 enabled:active:bg-slate-800 p-2 rounded-md text-white block w-full disabled:bg-slate-400 disabled:cursor-wait;
    }
    
    
    .error {
    @apply text-xs text-red-500 mt-px;
    }
    
    
    .input {
    @apply block w-full p-2 rounded-md ring-1 ring-slate-400 focus:ring-slate-600 focus:ring-2 outline-0 border-0 mt-1 bg-slate-100 text-slate-800;
    }
    
    
    label {
    @apply text-sm text-slate-600;
    }
    
    
    .card {
    @apply bg-white p-6 rounded-lg shadow-lg border border-slate-300;
    }
    
    
    .username {
    @apply py-2 pl-4 border-b border-slate-300 text-xs text-slate-700;
    }
    }

